<div class="container">
 INTERPOLATION
<p>{{title}}</p>

EVENT BINDING
<input
  type="text"
  class="form-control"
  (input)="onUpdateServerName($event)">
  <p>{{ serverName }}</p>

<button class="btn btn-primary"
(click)="onClickEventStatus()">Add ice cream</button>
<p>{{ IcecreamAvailabilityStatus}}</p>

TWO WAY DATA BINDING
<input
  type="text"
  class="form-control"
  [(ngModel)]="serverName">
  <p>{{ serverName }}</p>

  CLASS BINDING
  <h2 [className]="cssStringVar">Test</h2>
  
  STYLE BINDING
  <h2 [style.color] ="'orange'">Successful implementation of style binding</h2>
   
  ATTRIBUTE BINDING
  <br><br>
  <div>
    <table style="width:50%"> 
    <tr><td [attr.colspan]="3">three</td></tr>
    <tr><td>1</td><td>2</td><td>3</td></tr>
    </table>
    </div>
    <br>
@INPUT and @OUTPUT DECORATOR [SHOWS PARENT CHILD RELATIONSHIP]
<br><br>
<input #newFruit type="text" placeholder="Enter a new fruit">
<button (click)="addFruit(newFruit.value)">Add Fruit</button>
<hr>
<app-child [data]="fruits"></app-child>
</div>